<template>
  <div>
    <hero title="Mendix Forms" subtitle="A collection of form components" />

    <v-container>
      <heading title="Forms" />

      <v-layout row wrap>
        <!-- Personal details form - 1 -->
        <v-flex pa-2 xs12 sm6 mt-3>
          <v-card>
            <v-flex xs12 class="px-5 pt-5 text-xs-center" mt-5 mb-5>
              <h1>Your Personal Details</h1>
            </v-flex>
            <form class="pa-5">
              <v-text-field
                v-model="fullname"
                :error-messages="fullnameErrors"
                label="Full Name"
                required
                outlined
                @input="$v.fullname.$touch()"
                @blur="$v.fullname.$touch()"
              />
              <v-text-field
                v-model="email"
                :error-messages="emailErrors"
                label="E-mail"
                required
                outlined
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
              />
              <v-text-field
                v-model="username"
                :error-messages="usernameErrors"
                label="Username"
                required
                outlined
                @input="$v.username.$touch()"
                @blur="$v.username.$touch()"
              />
              <v-radio-group v-model="radios" :mandatory="false" label="Gender" row>
                <v-radio label="Male" value="male" />
                <v-radio label="Female" value="female" />
              </v-radio-group>
              <v-flex class="d-flex justify-end">
                <v-btn class="mr-4" @click="submit" disabled outlined>submit</v-btn>
                <v-btn @click="clear" outlined color="blue">clear</v-btn>
              </v-flex>
            </form>
          </v-card>
        </v-flex>
        <!-- Personal details form - 2 -->
        <v-flex pa-2 xs12 sm6 mt-3>
          <v-card>
            <v-flex xs12 class="px-5 pt-5 text-xs-center" mt-5 mb-5>
              <h1>Your Personal Details</h1>
            </v-flex>
            <form class="pa-5">
              <v-layout>
                <v-flex xs5>
                  <v-text-field
                    v-model="firstname"
                    :error-messages="firstnameErrors"
                    label="First Name"
                    placeholder="Noell"
                    required
                    outlined
                    @input="$v.firstname.$touch()"
                    @blur="$v.firstname.$touch()"
                  />
                </v-flex>
                <v-flex xs2 />
                <v-flex xs5>
                  <v-text-field
                    v-model="lastname"
                    :error-messages="lastnameErrors"
                    label="Last Name"
                    placeholder="Blue"
                    required
                    outlined
                    @input="$v.lastname.$touch()"
                    @blur="$v.lastname.$touch()"
                  />
                </v-flex>
              </v-layout>

              <v-text-field
                v-model="emailOther"
                :error-messages="emailOtherErrors"
                label="E-mail"
                required
                outlined
                @input="$v.emailOther.$touch()"
                @blur="$v.emailOther.$touch()"
              />
              <v-text-field
                v-model="phone"
                :error-messages="phoneErrors"
                :counter="12"
                label="Phone"
                placeholder="+31609876543"
                required
                outlined
                @input="$v.phone.$touch()"
                @blur="$v.phone.$touch()"
              />
              <v-flex class="d-flex justify-end">
                <v-btn class="mr-4" @click="submit" disabled outlined>submit</v-btn>
                <v-btn @click="clear" outlined color="blue">clear</v-btn>
              </v-flex>
            </form>
          </v-card>
        </v-flex>
        <v-flex pa-2 xs12 sm6 mt-3>
          <!-- Booking component -->
          <v-card>
            <v-flex xs12 class="px-5 pt-5 text-xs-center" mt-5 mb-5>
              <h1>Your Booking</h1>
            </v-flex>
            <form class="pa-5">
              <v-select v-model="guests" :error-messages="guestsErrors" :items="items" label="Guests" outlined />
              <v-layout>
                <v-flex xs5>
                  <v-text-field
                    v-model="checkin"
                    :error-messages="checkinErrors"
                    label="Check In"
                    required
                    outlined
                    @input="$v.checkin.$touch()"
                    @blur="$v.checkin.$touch()"
                  />
                </v-flex>
                <v-flex xs2 />
                <v-flex xs5>
                  <v-text-field
                    v-model="checkout"
                    :error-messages="checkoutErrors"
                    label="Check Out"
                    required
                    outlined
                    @input="$v.checkout.$touch()"
                    @blur="$v.checkout.$touch()"
                  />
                </v-flex>
              </v-layout>

              <v-flex class="d-flex">
                <v-btn @click="submit" block color="light-green" class="white--text">Book Now</v-btn>
              </v-flex>
            </form>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { validationMixin } from 'vuelidate';
import { required, email } from 'vuelidate/lib/validators';
import Hero from '@/components/Hero.vue';
import Heading from '@/components/Heading.vue';
import Vue from 'vue';

@Component({
  name: 'Home',
  components: {
    Hero,
    Heading,
  },
  mixins: [validationMixin],
  validations: {
    fullname: { required },
    firstname: { required },
    lastname: { required }, //,
    username: { required },
    email: { required, email },
    phone: { required },
    guests: { required },
    checkin: { required },
    checkout: { required },
    radios: {
      required,
    },
  },
})
export default class Forms extends Vue {
  private fullname: string = '';
  private firstname: string = '';
  private lastname: string = '';
  private username: string = '';
  private email: string = '';
  private emailOther: string = '';
  private phone: string = '';
  private guests: string = '';
  private checkin: string = '';
  private checkout: string = '';
  private items: string[] = [
    '1 Guest',
    '2 Guests',
    '3 Guests',
    '4 Guests',
    '5 Guests',
    '6 Guests',
    '7 Guests',
    '8 Guests',
  ];
  private radios = null;

  // The following are computed getters for the validation errors
  get checkboxErrors() {
    const errors: any = [];
    if (!this.$v.checkbox.$dirty) return errors;
    !this.$v.checkbox.checked && errors.push('You must agree to continue!');
    return errors;
  }
  get selectErrors() {
    const errors: any = [];
    if (!this.$v.select.$dirty) return errors;
    !this.$v.select.required && errors.push('Item is required');
    return errors;
  }
  get fullnameErrors() {
    const errors: any = [];
    if (this.$v.fullname && !this.$v.fullname.$dirty) return errors;
    this.$v.fullname && !this.$v.fullname.minLength && errors.push('Full Name must be longer.');
    this.$v.fullname && !this.$v.fullname.required && errors.push('Full Name is required.');
    return errors;
  }
  get firstnameErrors() {
    const errors: any = [];
    if (this.$v.firstname && !this.$v.firstname.$dirty) return errors;
    this.$v.firstname && !this.$v.firstname.required && errors.push('First Name is required.');
    return errors;
  }
  get lastnameErrors() {
    const errors: any = [];
    if (this.$v.lastname && !this.$v.lastname.$dirty) return errors;
    this.$v.lastname && !this.$v.lastname.required && errors.push('Last Name is required.');
    return errors;
  }
  get usernameErrors() {
    const errors: any = [];
    if (this.$v.username && !this.$v.username.$dirty) return errors;
    this.$v.username && !this.$v.username.required && errors.push('Username is required.');
    return errors;
  }
  get emailErrors() {
    const errors: any = [];
    if (this.$v.email && !this.$v.email.$dirty) return errors;
    this.$v.email && !this.$v.email.email && errors.push('Must be valid e-mail');
    this.$v.email && !this.$v.email.required && errors.push('E-mail is required');
    return errors;
  }
  get emailOtherErrors() {
    const errors: any = [];
    if (this.$v.emailOther && !this.$v.emailOther.$dirty) return errors;
    this.$v.emailOther && !this.$v.emailOther.emailOther && errors.push('Must be valid e-mail');
    this.$v.emailOther && !this.$v.emailOther.required && errors.push('E-mail is required');
    return errors;
  }
  get phoneErrors() {
    const errors: any = [];
    if (this.$v.phone && !this.$v.phone.$dirty) return errors;
    this.$v.phone && !this.$v.phone.required && errors.push('Phone is required.');
    return errors;
  }
  get guestsErrors() {
    const errors: any = [];
    if (this.$v.guests && !this.$v.guests.$dirty) return errors;
    this.$v.guests && !this.$v.guests.required && errors.push('Item is required');
    return errors;
  }
  get checkinErrors() {
    const errors: any = [];
    if (this.$v.checkin && !this.$v.checkin.$dirty) return errors;
    this.$v.checkin && !this.$v.checkin.required && errors.push('Checkin is required.');
    return errors;
  }
  get checkoutErrors() {
    const errors: any = [];
    if (this.$v.checkout && !this.$v.checkout.$dirty) return errors;
    this.$v.checkout && !this.$v.checkout.required && errors.push('Checkin is required.');
    return errors;
  }

  // method to submit form
  private submit() {
    this.$v.$touch();
  }
  // method to clear the forms
  private clear() {
    this.$v.$reset();
    this.fullname = '';
    this.firstname = '';
    this.lastname = '';
    this.username = '';
    this.email = '';
    this.emailOther = '';
    this.phone = '';
    this.guests = '';
    this.checkin = '';
    this.checkout = '';
    this.radios = null;
  }
}
</script>
