<template>
  <div>
    <hero title="Mendix Assignment" subtitle="By Given Mthimunye" />
    <v-container>
      <!-- Cards section -->
      <heading title="Cards" />
      <v-layout row wrap>
        <card
          title="Summary"
          text="Matt has 9+ years of experience in Agile Development, Business process
        analysis, Project delivery, Programming, and Mendix modelling. He has
        global experience identifying, training, and developing Mendix Subject
        Matter Experts (SMEs) by both building from the ground up or leveraging
        client's existing IT resources."
          member-detail-date-text="Apr 7, 2011"
          user-last-active-text="Today"
          :social-media="showSocialIcons"
        />
        <card
          title="Puente Romano Marbella"
          text="72 Hotels"
          img-url="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
          img-size="normal"
        />
        <card
          title="Puente Romano Marbella"
          text="72 Hotels"
          img-url="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
          img-size="full"
        />
      </v-layout>

      <!-- Lists section -->
      <heading title="Lists" />
      <v-layout row wrap>
        <list list-type="checkbox" title="Open Tasks" :items="todoItems" />
        <list list-type="image" title="User List" :items="users" />
      </v-layout>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import Hero from '@/components/Hero.vue';
import Heading from '@/components/Heading.vue';
import Card from '@/components/Card.vue';
import List from '@/components/List.vue';

import Vue from 'vue';

@Component({
  name: 'Home',
  components: {
    Hero,
    Heading,
    Card,
    List,
  },
})
export default class Home extends Vue {
  private showSocialIcons = true;

  private todoItems = [
    {
      primaryText: 'Mendix interview',
      secondaryText: 'Item Label',
    },
    {
      primaryText: 'Book dentist appointment ',
      secondaryText: 'Item Label',
    },
    {
      primaryText: 'Buy food for the puppy',
      secondaryText: 'Item Label',
    },
    {
      primaryText: 'Have a good week',
      secondaryText: 'Item Label',
    },
  ];
  private users = [
    {
      primaryText: 'Norman Riley',
      secondaryText: '8 Aug 2019',
      avatar: require('@/assets/matt-daniels.jpg'),
    },
    {
      primaryText: 'Lillian Bush',
      secondaryText: '6 Aug 2019',
      avatar: require('@/assets/jennifer-taylor.jpg'),
    },
    {
      primaryText: 'Amanda Elliot',
      secondaryText: '7 Aug 2019',
      avatar: require('@/assets/jordan-boyle.jpg'),
    },
  ];
  private items = [
    {
      primaryText: 'Knife',
    },
    {
      primaryText: 'Fork',
    },
    {
      primaryText: 'Bottle',
    },
    {
      primaryText: 'Cork',
    },
    {
      primaryText: 'Spatula',
    },
    {
      primaryText: 'Spoon',
    },
  ];
  private people = [
    {
      primaryText: 'Ava Gregoraci',
      secondaryText: 'Asaka Chimako',
    },
    {
      primaryText: 'Bonginkosi Mdladlana',
      secondaryText: 'Bansilal Brata',
    },
    {
      primaryText: 'Henk Fortuin',
      secondaryText: 'Donat Twerski',
    },
  ];
  private peopleWithAvatars = [
    {
      avatar: require('@/assets/donna.jpg'),
      primaryText: 'Beatrice McKenzie',
      secondaryText: 'Urbanport',
    },
    {
      avatar: require('@/assets/lorraine.jpg'),
      primaryText: 'Myrtie Willis',
      secondaryText: 'Dariusland',
    },
    {
      avatar: require('@/assets/jennifer-taylor.jpg'),
      primaryText: 'Bettie Hanson',
      secondaryText: 'Mustafamouth',
    },
  ];
}
</script>

<style lang="sass" scoped>
$color-pack: false
</style>
