<template>
  <div>
    <hero title="Mendix Lists" subtitle="A collection of list components" />
    <v-container>
      <heading title="Lists" />
      <v-layout row wrap>
        <list
          :avatar="require('@/assets/lorraine.jpg')"
          primary-text="Myrtie Willis"
          secondary-text="myrtie.willis@gmail.com"
          show-chevron="true"
        />
        <list primary-text="Ava Gregoraci" secondary-text="Asaka Chimako" list-has-button="true" show-chevron="true" />
        <list primary-text="Knife" list-has-button="true" show-chevron="true" />
        <list
          :avatar="require('@/assets/donna.jpg')"
          primary-text="Beatrice McKenzie"
          secondary-text="Urbanport"
          show-chevron="true"
        />
        <list list-type="normal" :items="items" list-has-button="true" show-chevron="true" />
        <list list-type="normal" :items="people" list-has-button="true" multiline="true" show-chevron="true" />
        <list
          list-type="normal"
          :items="peopleWithAvatars"
          list-has-button="true"
          multiline="true"
          multiline-avatar="true"
          show-chevron="true"
        />
      </v-layout>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import List from '@/components/List.vue';
import Hero from '@/components/Hero.vue';
import Heading from '@/components/Heading.vue';

import Vue from 'vue';

@Component({
  name: 'Lists',
  components: {
    List,
    Hero,
    Heading,
  },
})
export default class Lists extends Vue {
  private items = [
    {
      primaryText: 'Knife',
    },
    {
      primaryText: 'Fork',
    },
    {
      primaryText: 'Bottle',
    },
    {
      primaryText: 'Cork',
    },
    {
      primaryText: 'Spatula',
    },
    {
      primaryText: 'Spoon',
    },
  ];
  private people = [
    {
      primaryText: 'Ava Gregoraci',
      secondaryText: 'Asaka Chimako',
    },
    {
      primaryText: 'Bonginkosi Mdladlana',
      secondaryText: 'Bansilal Brata',
    },
    {
      primaryText: 'Henk Fortuin',
      secondaryText: 'Donat Twerski',
    },
  ];
  private peopleWithAvatars = [
    {
      avatar: require('@/assets/donna.jpg'),
      primaryText: 'Beatrice McKenzie',
      secondaryText: 'Urbanport',
    },
    {
      avatar: require('@/assets/lorraine.jpg'),
      primaryText: 'Myrtie Willis',
      secondaryText: 'Dariusland',
    },
    {
      avatar: require('@/assets/jennifer-taylor.jpg'),
      primaryText: 'Bettie Hanson',
      secondaryText: 'Mustafamouth',
    },
  ];
}
</script>

<style lang="sass" scoped>
$color-pack: false
</style>
