<template>
  <v-bottom-navigation>
    <span class="my-auto"> Made with <v-icon class="mdi mdi-heart red--text" /> by Given Mthimunye </span>
  </v-bottom-navigation>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import Vue from 'vue';

@Component({
  name: 'navbar',
})
export default class Navbar extends Vue {}
</script>
