<template>
  <v-card class="card mx-auto my-8" max-width="350">
    <!-- Image url check, apply relevant classes -->
    <v-img v-if="imgUrl" :class="imageClass" :src="imgUrl" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
      <!-- Card title & text over image only if image option is FULL -->
      <v-layout v-if="imgSize === 'full'">
        <v-flex xs10>
          <v-card-title class="pb-2">{{ title || 'No title entered' }}</v-card-title>
          <v-card-text>
            {{ text || 'No text entered' }}
          </v-card-text>
        </v-flex>
        <v-flex xs2>
          <v-btn dark icon x-large class="mt-8">
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-img>

    <!-- Card title of the card if the full image option is NOT selected  -->

    <v-card-text v-if="imgSize != 'full'">
      <!-- Text content of the card if the full image option is NOT selected -->
      <v-layout>
        <v-flex xs10>
          <v-card-title class="pl-0 pb-0 pt-0">{{ title || 'No title entered' }}</v-card-title>
          <div>
            {{ text || 'No text entered' }}
          </div>
        </v-flex>
        <v-flex xs2>
          <v-btn v-if="!memberDetailDateText || !userLastActiveText || !socialMedia" light icon x-large>
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <div class="mb-1" v-if="memberDetailDateText">
        <v-icon color="blue" icon="mdi-clock-outline" class="mr-2">mdi-clock-outline</v-icon>
        Member since {{ memberDetailDateText }}
      </div>
      <div v-if="userLastActiveText">
        <v-icon color="blue" icon="mdi-mouse-variant" class="mr-2">mdi-mouse-variant</v-icon>
        Last active: {{ userLastActiveText }}
      </div>

      <!-- Social media -->
      <div class="my-4" v-if="socialMedia">
        <p class="subtitle-2 black--text mb-2">Social Profiles</p>

        <a class="mr-2" href="http://www.dribble.com" target="_blank">
          <v-icon color="blue" icon="mdi-dribbble" class="mr-2">mdi-dribbble</v-icon>
        </a>
        <a class="mr-2" href="http://www.twitter.com" target="_blank">
          <v-icon color="blue" icon="mdi-twitter-circle" class="mr-2">mdi-twitter-circle</v-icon>
        </a>
        <a href="http://www.tumblr.com" target="_blank">
          <v-icon color="blue" icon="mdi-tumblr-box" class="mr-2">mdi-tumblr-box</v-icon>
        </a>
      </div>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import Vue from 'vue';

@Component({
  name: 'card',
  components: {},
})
export default class Card extends Vue {
  @Prop() title!: string;
  @Prop() text!: string;
  @Prop() memberDetailDateText!: string;
  @Prop() userLastActiveText!: string;
  @Prop() socialMedia!: boolean;
  @Prop() imgUrl!: string;
  @Prop() imgSize!: string;

  private showSocialIcons = true;

  get imageClass() {
    return [`card__card-image--${this.imgSize}`, 'align-end', 'white--text'];
  }
}
</script>

<style lang="scss" scoped>
.card {
  a {
    display: inline-flex;
    text-decoration: none;
    height: 24px;
    width: 24px;
  }
  &__card-image {
    &--normal {
      height: 75%;
    }
    &--full {
      height: 100%;
    }
  }
}
</style>
