<template>
  <div class="title mt-6 ml-2">
    <h2>
      <v-icon color="deep-orange" icon="mdi-fire">mdi-fire</v-icon>
      {{ title }}
    </h2>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';

import Vue from 'vue';

@Component({
  name: 'heading',
})
export default class HEading extends Vue {
  @Prop() title?: string;
}
</script>
