<template>
  <v-parallax height="400" src="@/assets/mendix-banner.jpg">
    <v-container>
      <h1 class="display-3 font-weight-thin mb-4 black--text">{{ title }}</h1>
      <h4 class="subheading black--text ml-1">{{ subtitle }}</h4>
    </v-container>
  </v-parallax>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';

import Vue from 'vue';

@Component({
  name: 'hero',
})
export default class Hero extends Vue {
  @Prop() title!: string;
  @Prop() subtitle?: string;
}
</script>
