<template>
  <v-flex pa-3 xs12 sm6 mt-3>
    <v-card class="list">
      <v-layout>
        <v-flex md9 xs8 v-if="title">
          <v-card-title class="pb-2">{{ title || 'No title entered' }}</v-card-title>
        </v-flex>
        <v-flex md3 xs4>
          <v-btn v-if="isCheckbox" text color="blue" class="list__button--lowercase pl-4 mt-4">
            <v-icon left>mdi-plus-circle-outline</v-icon> Add Task
          </v-btn>
        </v-flex>
      </v-layout>
      <!-- lists with more than one item -->
      <v-list subheader two-line flat v-if="items">
        <v-list-item-group :class="listItemGroupClass" multiple>
          <template v-for="(item, i) in items">
            <v-list-item :key="item.primaryText">
              <template v-slot:default="{ active, toggle }">
                <!-- this logic checks if checkbox was passed and adds it else use avatar if that was passed -->
                <v-list-item-action v-if="isCheckbox">
                  <v-checkbox :input-value="active" color="primary" @click="toggle" />
                </v-list-item-action>
                <v-list-item-avatar :class="listItemAvatarClass" size="48" v-else-if="!isCheckbox && !!item.avatar">
                  <v-img :src="item && item.avatar" />
                </v-list-item-avatar>

                <!-- list item content section -->
                <v-list-item-content>
                  <v-list-item-title :class="[{ 'pl-3': !item.avatar && listType === 'normal' }]">{{
                    item && item.primaryText
                  }}</v-list-item-title>
                  <v-list-item-subtitle :class="[{ 'pl-3': !item.avatar && listType === 'normal' }]" v-if="multiline">{{
                    item && item.secondaryText
                  }}</v-list-item-subtitle>
                </v-list-item-content>

                <!-- chevron on the right -->
                <v-list-item-action :class="!multiline ? 'mt-0 mb-0' : ''">
                  <v-list-item-action-text
                    v-if="item && item.secondaryText && !multiline"
                    v-text="item && item.secondaryText"
                  />
                  <v-btn v-if="showChevron" light icon x-large>
                    <v-icon>mdi-chevron-right</v-icon>
                  </v-btn>
                </v-list-item-action>
              </template>
            </v-list-item>
            <v-divider v-if="i + 1 < items.length" :key="i" />
          </template>
          <v-divider v-if="listHasButton" />
          <v-btn v-if="listHasButton" outlined class="list__list-button mx-auto mt-6 mb-4">Load more</v-btn>
        </v-list-item-group>
      </v-list>
      <!-- lists with just one item -->
      <v-list-item subheader two-line flat v-else>
        <v-layout>
          <v-flex d-flex xs10>
            <v-list-item-avatar size="48" v-if="item && item.avatar">
              <v-img :src="item && item.avatar" />
            </v-list-item-avatar>
            <v-list-item-content class="list__list-item-content">
              <v-list-item-title :class="[{ 'pl-3': !item.avatar && listType === 'normal' }]">
                {{ item && item.primaryText }}
              </v-list-item-title>
              <v-list-item-subtitle
                :class="[{ 'pl-3': !item.avatar && listType === 'normal' }]"
                v-if="item && item.secondaryText"
              >
                {{ item && item.secondaryText }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-flex>
          <v-flex d-flex xs2 align-center float-right>
            <v-btn light icon x-large :class="this.$vuetify.breakpoint.mdAndDown ? 'ml-4' : 'ml-8'">
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-list-item>
    </v-card>
  </v-flex>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import Vue from 'vue';

@Component({
  name: 'list',
  components: {},
})
export default class Card extends Vue {
  @Prop() title!: string;
  @Prop() items?: [
    {
      avatar: '';
      primaryText: '';
      secondaryText: '';
    }
  ];
  @Prop() listType!: string;
  @Prop() avatar!: string;
  @Prop() primaryText!: string;
  @Prop() secondaryText?: string;
  @Prop() listHasButton?: boolean;
  @Prop() multiline?: boolean;
  @Prop() multilineAvatar?: boolean;
  @Prop() showChevron?: boolean;

  private showSocialIcons = true;
  private item = {
    avatar: this.avatar,
    primaryText: this.primaryText,
    secondaryText: this.secondaryText,
  };

  private mounted() {}
  get isCheckbox() {
    return this.listType === 'checkbox';
  }
  get listItemAvatarClass() {
    return [this.multilineAvatar ? 'ml-3' : '', ''];
  }
  get listItemGroupClass() {
    return `list__list-item-group--${this.listType !== 'normal' ? 'special' : 'normal'}-list-divider`;
  }
}
</script>

<style lang="scss" scoped>
.list {
  &__list-item-group {
    &--normal-list-divider {
      hr {
        margin-left: 1.75rem;
      }
    }
    &--special-list-divider {
      hr {
        margin-left: 1rem;
      }
    }
  }
  &__list-item-content {
    padding: 1.344rem 0;
  }
  &__list-button {
    display: flex;
    width: 90%;
  }
  &__button {
    &--lowercase {
      text-transform: capitalize;
    }
  }
}
</style>
