<template>
  <nav class="nav">
    <v-navigation-drawer v-model="sidebar" app>
      <v-list>
        <v-list-item v-for="item in menuItems" :key="item.title" :to="item.path">
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>{{ item.title }}</v-list-item-content>
        </v-list-item>
      </v-list>
      <v-row no-gutters>
        <v-col md="6" offset-md="3">
          <v-switch class="justify-center" :label="`Dark Theme`" @change="switchTheme" color="blue" />
        </v-col>
      </v-row>
    </v-navigation-drawer>

    <v-app-bar elevate-on-scroll fixed app>
      <span class="hidden-sm-and-up">
        <v-app-bar-nav-icon @click="sidebar = !sidebar" />
      </span>
      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor: pointer">
          <v-img :src="require('@/assets/logo.png')" width="150" :alt="appTitle" />
        </router-link>
      </v-toolbar-title>
      <v-spacer />
      <v-spacer />
      <v-switch :class="switchClass" :label="`Dark Theme`" @change="switchTheme" color="blue" />
      <v-list>
        <v-list-item class="hidden-xs-only">
          <v-btn
            class="subtitle-1 text-capitalize font-weight-light"
            text
            large
            v-for="item in menuItems"
            :key="item.title"
            :to="item.path"
          >
            <!-- <v-icon left dark>{{ item.icon }}</v-icon> -->
            {{ item.title }}
          </v-btn>
        </v-list-item>
      </v-list>
    </v-app-bar>
  </nav>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import Vue from 'vue';

@Component({
  name: 'navbar',
  inject: ['theme'],
})
export default class Navbar extends Vue {
  private drawer = false;
  private appTitle = 'Mendix';
  private sidebar = false;
  private menuItems = [
    { title: 'Home', path: '/mendix', icon: 'home' },
    { title: 'Forms', path: '/forms', icon: 'mdi-format-list-checks' },
    { title: 'Lists', path: '/lists', icon: 'mdi-format-list-bulleted' },
  ];

  private switchTheme() {
    this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
  }

  get switchClass() {
    // had some trouble with this switch on tablet - would play around with the different options or create mixin to handle mobile/tablet
    return [this.$vuetify.breakpoint.mdAndDown ? 'mt-7' : 'mt-7 mr-5', 'hidden-md-and-down'];
  }
}
</script>
