<template>
  <v-app>
    <NavBar />
    <v-content>
      <router-view />
    </v-content>
    <BottomNav />
  </v-app>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import NavBar from '@/components/NavBar.vue';
import BottomNav from '@/components/BottomNav.vue';
import Hero from '@/components/Hero.vue';

import Vue from 'vue';

@Component({
  name: 'App',
  components: {
    NavBar,
    BottomNav,
    Hero,
  },
})
export default class extends Vue {}
</script>

<style scoped></style>
